@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* ------------------------------------------------ */

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #333;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  transition: 0.5s;
  z-index: 20;
}

.navbar.top {
  background: transparent;
}

.navbar a {
  color: #fff;
}

.navbar .nav-link {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
}

.navbar .nav-link:hover {
  border-bottom: #ffa000 2px solid;
}

.navbar ul {
  display: flex;
}

.navbar .logo {
  font-weight: 400;
}

/* ------------------------------------------------ */

/* Header */
.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  color: #fff;
  transition: all 0.6s ease-in-out;
}

.img {
  background: url('../assets/img//main/main.jpg') no-repeat center center/cover;
}

.img1 {
  background: url('../assets/img/main/main1.jpg') no-repeat center center/cover;
}

.img2 {
  background: url('../assets/img/main/main2.jpg') no-repeat center center/cover;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.hero .content h1 {
  font-size: 55px;
}

.hero .content p {
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30px;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.hero * {
  z-index: 10;
}

.hero.blog {
  height: 30vh;
}

/* ------------------------------------------------ */

/* gallery */
#gallery {
  display: flex;
  flex-direction: column;
  max-height: 85%;
  padding-bottom: 50px;
}

#gallery .image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

#gallery img {
  max-width: 320px;
  transition: all 0.1s ease-in-out;
}

/* @media (max-width: 1200px) {
  #gallery img {
    max-width: 300px;
  }
} */

@media (max-width: 1024px) {
  #gallery img {
    max-width: 300px;
  }
}

@media (max-width: 768px) {
  #gallery img {
    max-width: 150px;
  }
}

#gallery img:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

/* ------------------------------------------------ */

/* order section */
#order {
  background-color: #fafafa;
  max-height: 45vh;

  margin: 30px 0 30px 0;
  padding: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#order .whitebox {
  background-color: #fff;
  box-shadow: 0px 12px 18px -6px rgb(0 0 0 / 30%);
  width: 100%;
  max-width: 70rem;
  height: 20rem;
  gap: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
}

#order .whitebox:hover {
  transform: scale(1.03);
}

#order .whitebox_text {
  color: #333;
}

#order .whitebox_text h2 {
  font-size: 2.6rem;
}

#order .whitebox_text p {
  text-align: center;
}

#order .order_btn {
  background-color: #ff8f00;
  padding: 10px 36px;
  margin-top: 12px;
  border: 2px #fff solid;
  transition: all 0.3s ease-out;
}

#order .order_btn:hover {
  background-color: #c67100;
}

#order .btn a {
  color: #fff;
}

@media (max-width: 768px) {
  #order {
    padding: 50px 0 50px 0;
  }

  #order .whitebox_text h2 {
    font-size: 1.8rem;
  }

  #order .whitebox_text p {
    font-size: 0.9rem;
  }
}

/* ------------------------------------------------ */

/* Contact */
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

#contact .contact_container {
  display: flex;
  gap: 4rem;
}

@media (max-width: 768px) {
  #contact .contact_container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

#contact .contact_container h2 {
  font-weight: 500;
}

#contact .contact-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 768px) {
  #contact .contact-info {
    align-items: center;
  }
}

#contact .days-hours {
  display: flex;
  gap: 30px;
}

#contact .days,
#contact .hours {
  margin-top: 10px;
}

/* ------------------------------------------------ */

/* Contact-slides */
.slide_container {
  max-width: 650px;
  padding-bottom: 30px;
}

.swiper {
  height: fit-content;
}

.swiper-slide img {
  height: 500px;
}

@media (max-width: 768px) {
  .slide_container {
    max-width: 100vw;
    padding-bottom: 40px;
  }

  .swiper-slide img {
    height: 350px;
  }
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: #fff;
}

.swiper .swiper-pagination-bullet-active {
  background: #fff;
}

/* ------------------------------------------------ */
/* Menu Page Styling */
/* ------------------------------------------------ */
#menu-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #333;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  /* position: fixed; */
  top: 0px;
  padding: 0 30px;
  transition: 0.5s;
  z-index: 20;
}

.menu-tabs {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
  display: flex;
}

@media (max-width: 768px) {
  .menu-tabs {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
}

.tab-buttons {
  padding: 10px 20px 10px 20px;
  margin-right: -1px;
  margin-bottom: -1px;
  color: grey;
  cursor: pointer;
  display: block;
}

.orange {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 3px solid orange;
  border-left: 1px solid #ccc;

  margin-top: -2px;
}

@media (max-width: 768px) {
  .orange {
    color: white;
    background-color: #ff8a65;
  }

  .tab-buttons {
    border-bottom: 1px solid #ff8a65;
  }
}

.tab-content {
  display: none;
  padding: 10px;
}

.show {
  display: block;
}

.menu-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 90px;
}

@media (max-width: 768px) {
  .menu-container {
    padding-bottom: 170px;
  }
}

/* order display / order summary */
.order-display {
  display: flex;
  flex-direction: column;

  max-width: 500px;
  max-height: 480px;
  margin: 70px 15px 0px 0px;
}

@media (max-width: 768px) {
  .menu-container {
    padding-bottom: 170px;
    margin: 0px;
  }
}

.order-notice {
  border: 1px solid #c2c2c2;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.order-summary {
  margin: 30px auto 30px auto;
}

.order-display .checkout-btn {
  padding: 15px;
  margin: 30px auto 0 auto;
  border-radius: 10px;
  width: 90%;
}

.order-summary {
  border-bottom: 1px solid #c2c2c2;
  height: 100px;
  padding: 20px;

  display: flex;
  justify-content: space-between;
}

.summary-right button {
  margin-top: 10px;
  border-style: none;
  background: none;
  color: #c62828;
  font-size: 16px;
}

.summary-right button:hover {
  color: #8e0000;
  cursor: pointer;
}

.checkout-btn {
  font-size: 18px;
}

.checkout-btn .fa-utensils {
  margin-right: 10px;
}

/* ramen menu */

.tab-content .product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 15px 0px 30px 0px;
}

.tab-content .product-card {
  border: 1px solid #c2c2c2;
  border-left: 5px solid #ff9800;
  box-shadow: 0px 12px 18px -6px rgb(0 0 0 / 10%);
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  width: 500px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .tab-content .product-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .tab-content .product-card {
    width: 100%;
  }
}

.tab-content .card:hover {
  transform: scale(1.01);
}

.tab-content .card h3 {
  margin-bottom: 20px;
}

.tab-content .btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.tab-content .product-card .add-btn {
  background-color: #c2185b;
  width: 150px;
  border-radius: 7px;
}

.tab-content .product-card .btn:hover {
  background-color: #8c0032;
}

.tab-content .product-card div:nth-child(2) {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  /* Need to adjust padding-top for the floating top navbar */
  .menu-container {
    padding-top: 140px;
    flex-direction: column;
  }

  .order-display {
    width: 100%;
    height: 480px;
  }
}

/* ------------------------------------------------ */
/* Footer Styling */
/* ------------------------------------------------ */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: #ffa000;
}

.footer .social > * {
  margin-right: 30px;
}
/* ------------------------------------------------ */

/* Mobile */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: 120px;
    padding: 20px;
  }

  .navbar a {
    padding: 10px 10px;
    margin: 0 3px;
  }
}
