@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #333;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  transition: 0.5s;
}

.navbar.top {
  background: transparent;
}

.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: #ffa000 2px solid;
}

.navbar ul {
  display: flex;
}

.navbar .logo {
  font-weight: 400;
}

/* Header */
.hero {
  height: 100vh;
  position: relative;
  color: #fff;
  transition: all 0.6s ease-in-out;
}

.img {
  background: url("../assets/img//main/main.jpg") no-repeat center center/cover;
}

.img1 {
  background: url("../assets/img/main/main1.jpg") no-repeat center center/cover;
}

.img2 {
  background: url("../assets/img/main/main2.jpg") no-repeat center center/cover;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.hero .content h1 {
  font-size: 55px;
}

.hero .content p {
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.hero * {
  z-index: 10;
}

.hero.blog {
  height: 30vh;
}

.hero_menu {
  height: 9vh;
}

.hero_menu::before {
  position: absolute;
  background: rgba(0, 0, 0, 0);
}

/* gallery */
#gallery {
  display: flex;
  flex-direction: column;
  height: 85vh;
}

#gallery .card_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

#gallery .card {
  width: 20vw;
}

.gallery img {
  transition: all 0.1s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

/* order section */
.order {
  background-color: #fafafa;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whitebox {
  background-color: #fff;
  box-shadow: 0px 12px 18px -6px rgb(0 0 0 / 30%);
  flex: 1;
  max-width: 70rem;
  height: 20rem;
  gap: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
}

.whitebox:hover {
  transform: scale(1.1);
}

.whitebox_text {
  color: #333;
}

.whitebox_text h2 {
  font-size: 50px;
  margin-bottom: 15px;
}

.whitebox_text p {
  text-align: center;
}

.order_btn {
  background-color: #ff8f00;
  padding: 10px 36px;
  margin-top: 12px;
  border: 2px #fff solid;
  transition: all 0.3s ease-out;
}

.order_btn:hover {
  background-color: #c67100;
}

.btn a {
  color: #fff;
}

/* Contact */
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.contact_container {
  display: flex;
  gap: 4rem;
}

.contact_container h2 {
  font-weight: 500;
}

.contact_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.days_hours {
  display: flex;
  gap: 30px;
}
.days,
.hours {
  margin-top: 10px;
}

/* Contact-slides */
.slide_container {
  width: 30vw;
  margin-bottom: 40px;
}

.swiper {
  width: 100%;
  height: fit-content;
}

.swiper-slide img {
  width: 100%;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: #fff;
}

.swiper .swiper-pagination-bullet-active {
  background: #fff;
}

/* Menu */
ul.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
}
ul.list::after {
  content: "";
  display: block;
  clear: both;
}
.tab-button {
  display: block;
  padding: 10px 20px 10px 20px;
  float: left;
  margin-right: -1px;
  margin-bottom: -1px;
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

.orange {
  border-top: 2px solid orange;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid white;
  border-left: 1px solid #ccc;
  color: black;
  margin-top: -2px;
}
.tab-content {
  display: none;
  padding: 10px;
}

.show {
  display: block;
}

.outer-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 50vh;
}

.inner-container {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  width: 80vw;
}
/* Footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: #ffa000;
}

.footer .social > * {
  margin-right: 30px;
}

/* Mobile */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: 120px;
    padding: 20px;
  }

  .navbar a {
    padding: 10px 10px;
    margin: 0 3px;
  }
}
