:root {
  --main_color: #ffa000;
}

/* Text colors */
.text-primary {
  color: var(--main_color);
}

/* Button */
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background-color: #ff8f00;
  border: none;
  border-radius: 1px;
  transition: all 0.3s ease-out;
}

.btn:hover {
  opacity: 0.9;
  background-color: #c67100;
}

.btn-primary,
.bg-primary {
  background: var(--main_color);
  color: #fff;
}

.btn-dark,
.bg-dark {
  background: #333;
  color: #fff;
}

/* Section header */
.section-header {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-header h2 {
  font-size: 40px;
  margin: 20px 0;
}

.section-padding {
  padding: 20px 20px 40px;
}
